<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>

 <script type = "text/javascript"
         src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

      <script type = "text/javascript" language = "javascript">

      console.log("hello world");
         $(document).ready(function() {

               console.log("hello world");

               var inbox = <%-JSON.stringify(list)%>;
               var peers = <%-JSON.stringify(users)%>;

                if(inbox.count != 0){
                    $('#msgDiv').html("<h4>Messages</h4>");
                    var msgMap = {};
                    for (i = 0; i < inbox.count; i++){
                        var m = inbox.messages[i];
                        msgMap[m.Time] = m;
                    }

                    var keys = Object.keys(msgMap);
                    keys = keys.sort();
                    for(i = 0; i < keys.length; i++){

                        var m = msgMap[keys[i]];
                        var comments = m.Comments;

                        $('#msgDiv').append("<p>(" + (i+1) + ") " + m.Originator + " : " + m.Text + "</p>");
                        for (j = 0; j < comments.length; j++){
                            $('#msgDiv').append("<p style=\"margin-left: 40px\">" + comments[j].Originator + " : " + comments[j].Comment + "</p>");
                        }

                    }

                }

                if(peers.count != 0){
                    $('#peersDiv').html("<h4>Peers</h4>");
                    var peerMap = {};
                    for (i = 0; i < peers.count; i++){
                        var p = peers.peers[i];
                        $('#peersDiv').append("<p>" + i + "</p>");
                    }
                }

         });

      </script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span><%= user_name %>'s Profile</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> </h3>
                    <form action="/local/message" method="post" id="mform">
                        <div class="form-group">
                            <label>Send a Message</label>
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Send</button>
                    </form>
                    <textarea class="form-control" rows="5" id="comment" name="message" form="mform">Enter message here...</textarea>
                    <form action="/peer" method="post">
                        <div class="form-group">
                            <label>Add New Peer</label>
                            <input type="text" class="form-control" name="peer">
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Add</button>
                    </form>
                    <br>
                    <br>
                    <div id = "msgDiv">
                     No messages :(.
                    </div>
                    <div id = "peerDiv">
                        No peers :(.
                    </div>

            </div>
        </div>

    </div>

</div>
</body>
</html>
